main {
  padding: 0;
    text-shadow: 2px 2px 8px  #000000;

}

body {
  background-color: #339989;
  color: #FFFAFB;
  font-family: 'Chakra Petch', sans-serif;
  width: 100%;
  margin: 0px;
}

section {
  margin-bottom: 100px;
  padding: 0 20px;
}

section.darker {
  background-color: #2B2C28;
  padding: 20px;
  margin-top: 20px;
  }

header {
  background-color: #131515;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


header h1 {
  color: #FFFAFB;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  margin: 0;

}

header nav {
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

header nav ul li a {
  color: #FFFAFB;
  text-shadow: 2px 2px 8px  #7DE2D1;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #339989;
}

header nav ul li:last-child a {
  /* Removes the margin to the right of the last anchor tag 
     so that the nav appears centered. */
  margin-right: 0;
}

main img {
  width: 100%;
  box-shadow: 5px 4px 12px -2px rgba(0,0,0,0.88);
}

.round {
  border-radius: 30px;
}

footer {
  background-color: #2B2C28;
  margin-top: 40px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
footer img {
  width: 25px;
}
footer p {
  flex-direction: row;
  color: #FFFAFB;
  text-align: center;
  padding: 0 10px;
  margin: 20px;
  flex: 1;
}

.group {
  display: flex;
  flex-direction: column;
}



.item {
  flex: 1;
  margin: 0;
  padding: 20px;
}

.item-double {
  flex: 2;
  margin: 0;
  padding: 20px;
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
  }
  header h1 {
    padding: 0;
  }

  hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
  .group {
    flex-direction: row;
    align-items: center;
  }
    section {
  max-width: 70%;
  margin: 0 auto;
  }
  h2 {
    text-align: left !important;
  }
}


//form css
form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

form div {
  display: flex;
  flex-flow: column wrap;
  margin-right: 5px;
}

form button {
    padding: 2px 20px;
    border-radius: 15px;
    border: 1;
    font-family: Tahoma;
    font-size: 16px;
    background: #fff;
    color: #000; 
    margin: 0 8px 10px 0;
}

p {
 font-family: 'Chakra Petch', sans-serif;
 line-height: 1.5em;
 font-size: 20px;
 margin-bottom: 0;
 color: white;
 
}

h2 {
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  text-decoration: underline;
  text-align: center;
}

main  a:link { color: rgb(61, 141, 187); }
main  a:visited { color: #FFFAFB; }
main  a:hover { color: #00ffc8; }
a:active { color: #ffa04d; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p{
  flex: 1;
}

button{
  font-family: 'Chakra Petch', sans-serif;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 30px;
  line-height: 1;
  font-size: 15px;
  letter-spacing: 1px;
  border: 3px solid rgb(44, 111, 150);
  background: #fff;
  border-radius: 20px;
}

button:hover {
border: 3px solid rgb(45, 255, 220);
}